html, body {
  height: 100%;
  width: 99.7%;
}
body{
  background-image: url(820735.jpg);
  background-attachment: fixed;
  background-position: bottom right;
  background-repeat: no-repeat;
}
header{
  background-color:cornflowerblue;
  width: 80%;
  text-align: center;
  font-size: 150%;
  float: center;
  margin: auto;
}
h1{
  justify-content: space-around;
  float: center;
}
#catagories{
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  align-self: center;
  border: navy 5px solid;
  align-items: center;
  background-color:cadetblue;
}
input[type='checkbox']{
  height: 20px;
  width: 20px;
}
label{
  color: black;
  font-family: sans-serif;
  font-weight: bolder;
  font-size:15pt;
}
#content{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  min-width: 0%;
}
#holder{
  width: 45%;
  border: 7px solid black;
}
#center{
  text-align: center;
}
#top{
  background-color: royalblue;
  padding: 10px;
}
#title{
  text-align: center;
  font-size: 24pt;
  font-family: sans-serif;
  font-weight: bold;
}
#author{
  font-size: 10pt;
  color: lightgray;
}
#date{
  font-size: 10pt;
  color: lightgray;
}
#mid{
  padding: 10px;
  background-color:rgb(180, 235, 255);
}
#content{
  font-size: 16pt;
}
#url{
  
}
#image{
  margin-top: auto;
}
img{
  width: 100%;
  align-self: flex-end;
}
.visible{
  color: white;
  padding-bottom: 10px;
}
.myButton {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}